body{
font-family: Arial;
background: linear-gradient(135deg,#6a0dad,#ffffff);
margin:0;
}

.container{
background:white;
padding:20px;
margin:20px;
border-radius:10px;
}

.layout{
display:flex;
gap:20px;
}

.left,.right{
flex:1;
}

button{
background:#6a0dad;
color:white;
border:none;
padding:10px;
margin:5px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#4b0082;
}

.product{
border:1px solid #ccc;
padding:10px;
margin:5px;
cursor:pointer;
}

.product:hover{
background:#eee;
}

table{
width:100%;
border-collapse:collapse;
}

th{
background:#6a0dad;
color:white;
}

td,th{
padding:10px;
border:1px solid #ccc;
}
